{% extends 'base.html' %}

{% block content %}
<h1>Users</h1>
<a href="{{ url_for('user') }}" class="btn btn-primary mb-3">Add User</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{{ url_for('user', user_id=user.user_id) }}" class="btn btn-sm btn-primary">Edit</a>
                <form action="{{ url_for('delete_user') }}" method="post" style="display: inline-block;">
                    <input type="hidden" name="user_id" value="{{ user.user_id }}">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1 class="mt-5">Books</h1>
<a href="{{ url_for('book') }}" class="btn btn-primary mb-3">Add Book</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.name }}</td>
            <td>
                <a href="{{ url_for('book', book_id=book.book_id) }}" class="btn btn-sm btn-primary">Edit</a>
                <form action="{{ url_for('delete_book') }}" method="post" style="display: inline-block;">
                    <input type="hidden" name="book_id" value="{{ book.book_id }}">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
